* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: "gravesend-sans";
  font-weight: 500;
}

h2 {
  font-family: "canada-type-gibson";
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: "serenity";
}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Rig Shaded";
}

a:hover {
  -webkit-text-decoration: 1px solid underline #ffffff;
          text-decoration: 1px solid underline #ffffff;
}

#form {
  margin: auto;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#form__email--label, #form__name--label, #form__message--label {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 8px;
  margin-left: 10px;
}

#form__email--input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#form__email--input, #form__name--input, #form__message--input {
  padding: 0.4rem;
}

#form__select--input {
  height: 2.5rem;
  margin: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#form__submit {
  margin: auto;
  margin-top: 1rem;
  width: 150px;
  border: none;
  border-radius: 15px;
  padding: 0.7rem;
  background-color: #2d848f;
  color: #ffffff;
}

#form .error {
  color: #ff4500;
  position: relative;
  bottom: 15px;
}

#form__success {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5rem auto;
  color: #1c5961;
  padding: 1rem;
  font-size: 1.4rem;
}

#form * {
  font-family: "serenity";
}

input,
textarea,
select {
  border: 3px solid #2d848f;
  margin-bottom: 1rem;
  width: 90%;
}

@media (min-width: 575px) {
  input,
  textarea,
  select {
    width: 70%;
  }
}

@media (min-width: 768px) {
  input,
  textarea,
  select {
    width: 60%;
  }
}

@media (min-width: 992px) {
  input,
  textarea,
  select {
    width: 50%;
  }
}

.form__icon {
  color: #2d848f;
}

.contact__intro {
  text-align: center;
  width: 250px;
  margin: auto;
}

@media (min-width: 575px) {
  .contact__intro {
    width: 450px;
  }
}

.contact__intro p {
  text-align: left;
  margin: 0px 1rem;
}

.footer {
  background-color: #1c5961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__social {
  color: #ffffff;
}

.footer__links {
  display: -ms-grid;
  display: grid;
  margin-top: 1rem;
}

.footer__links a {
  margin: 10px;
}

.services__intro {
  background-color: #2d848f;
  color: #ffffff;
  padding: 1rem;
  margin: 1.5rem;
}

.text__block {
  margin: 1rem;
}

.webdev,
.ecommerce,
.webpages {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-bottom: 3rem;
}

.webdev img,
.ecommerce img,
.webpages img {
  width: 70%;
  margin: 2rem;
}

.ecommerce {
  background-color: #2d848f;
}

.ecommerce h2,
.ecommerce p {
  color: #ffffff;
}

.services__header {
  background-color: #2d848f;
  max-width: 80%;
  margin: 3rem auto 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

@media screen and (min-width: 600px) {
  .services__header {
    max-width: 480px;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 85%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .services {
    max-width: 500px;
  }
}

.services__inner {
  border: 5px solid #2d848f;
  margin-bottom: 4rem;
  padding: 9rem 0.5rem 1rem 0.5rem;
  text-align: center;
  -webkit-box-shadow: 6px 6px 20px #70707080;
          box-shadow: 6px 6px 20px #70707080;
}

.services__inner h2 {
  font-family: "Rig Shaded";
  font-weight: bold;
  text-transform: capitalize;
}

.need {
  background-color: #2d848f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.need img {
  max-width: 80%;
  padding: 3rem 1.5rem;
  margin: 30px auto;
  border: 3px solid #ffffff;
}

.need h2 {
  color: #ffffff;
  font-weight: bold;
}

.need p {
  color: #ffffff;
  max-width: 90%;
  margin: auto;
}

.need button {
  background-color: #ffffff;
  color: #2d848f;
  border: 0px;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  margin: 2rem 0 3rem;
}

.need__inner {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.technology__header {
  background-color: #2d848f;
  max-width: 80%;
  margin: 4rem auto 1.5rem;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .technology__header {
    max-width: 480px;
  }
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 2rem auto;
}

.technology p {
  margin: 5px;
}

.technology__inner {
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .technology {
    max-width: 480px;
  }
}

.nav {
  background-color: #1c5961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.nav__menu {
  z-index: 2;
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #ffffff;
  margin-left: 1rem;
}

.nav__inner {
  display: none;
}

@media (min-width: 768px) {
  .nav__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
  }
}

.nav__inner li {
  list-style-type: none;
  margin: 20px;
}

.nav__active {
  -webkit-text-decoration: 1px solid underline #ffffff;
          text-decoration: 1px solid underline #ffffff;
}

.show {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #1c5961;
  text-align: center;
  -webkit-animation: slide 1.2s ease;
          animation: slide 1.2s ease;
}

@-webkit-keyframes slide {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

@keyframes slide {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */