* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: "gravesend-sans";
  font-weight: 500;
}

h2 {
  font-family: "canada-type-gibson";
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: "serenity";
}

a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "rig-shaded-medium-face";
}

a:hover {
  -webkit-text-decoration: 1px solid underline #ffffff;
          text-decoration: 1px solid underline #ffffff;
}

.text__block {
  margin: 1rem;
}

@media (min-width: 992px) {
  .text__block {
    font-size: 1.3rem;
  }
}

#form {
  margin: auto;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#form__email--label, #form__name--label, #form__message--label {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 8px;
  margin-left: 1rem;
}

#form__email--input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#form__email--input, #form__name--input, #form__message--input {
  padding-top: 2rem;
  height: 70px;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  #form__email--input, #form__name--input, #form__message--input {
    font-size: 1.5rem;
  }
}

#form__select--input {
  height: 2.5rem;
  font-size: 1rem;
  margin: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#form__submit {
  margin: auto;
  margin-top: 1rem;
  width: 150px;
  border: none;
  border-radius: 15px;
  padding: 0.7rem;
  background-color: #2d848f;
  color: #ffffff;
}

#form .error {
  color: #ff4500;
  position: relative;
  bottom: 15px;
}

#form__success {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5rem auto;
  color: #1c5961;
  padding: 1rem;
  font-size: 1.4rem;
}

#form * {
  font-family: "serenity";
}

input,
textarea,
select {
  border: 3px solid #40cde0;
  -webkit-box-shadow: 0px 2px 4px #40cde0;
          box-shadow: 0px 2px 4px #40cde0;
  margin-bottom: 1rem;
  width: 90%;
}

@media (min-width: 600px) {
  input,
  textarea,
  select {
    width: 70%;
  }
}

@media (min-width: 768px) {
  input,
  textarea,
  select {
    width: 60%;
  }
}

@media (min-width: 992px) {
  input,
  textarea,
  select {
    width: 50%;
  }
}

.form__icon {
  color: #2d848f;
}

.contact__intro {
  text-align: center;
  width: 250px;
  margin: auto;
}

@media (min-width: 600px) {
  .contact__intro {
    width: 450px;
  }
}

.contact__intro p {
  text-align: left;
  margin: 0px 1rem;
}

.services h2 {
  text-align: center;
}

@media (min-width: 992px) {
  .services h2 {
    font-size: 2.5rem;
  }
}

.services__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  background-color: #2d848f;
  color: #ffffff;
  padding: 0.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.webdev,
.ecommerce,
.webpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  margin-bottom: 3rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .webdev,
  .ecommerce,
  .webpages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .webdev p,
  .ecommerce p,
  .webpages p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    /* @media (min-width: $laptop-width) {
        font-size: 1.5rem;
      } */
  }
  .webdev img,
  .ecommerce img,
  .webpages img {
    padding: 2rem;
    width: 50%;
  }
}

.ecommerce {
  background-color: #2d848f;
  padding: 4rem 1rem;
}

.ecommerce p {
  color: #ffffff;
}

.ecommerce__heading {
  position: absolute;
  color: #ffffff;
  right: 0;
  left: 0;
}

@media (min-width: 768px) {
  .ecommerce {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.services__header {
  background-color: #2d848f;
  max-width: 80%;
  margin: 3rem auto 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

@media screen and (min-width: 600px) {
  .services__header {
    max-width: 480px;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 85%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .services {
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .services {
    max-width: 1000px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 4rem;
  }
}

.services__inner {
  border: 5px solid #2d848f;
  margin-bottom: 4rem;
  padding: 9rem 0.5rem 1rem 0.5rem;
  text-align: center;
  -webkit-box-shadow: 6px 6px 20px #70707080;
          box-shadow: 6px 6px 20px #70707080;
}

.services__inner h2 {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .services__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px;
    padding-top: 10rem;
  }
  .services__inner h2 {
    text-transform: uppercase;
  }
}

.need {
  background-color: #2d848f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.need img {
  max-width: 80%;
  padding: 3rem 1.5rem;
  margin: 30px auto;
  border: 3px solid #ffffff;
}

.need h2 {
  color: #ffffff;
  font-weight: bold;
}

.need p {
  color: #ffffff;
  max-width: 90%;
  margin: auto;
}

.need button {
  background-color: #ffffff;
  color: #2d848f;
  border: 0px;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  margin: 2rem 0 3rem;
}

.need__inner {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .need {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .need__inner {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 400px;
    margin: auto 2rem;
  }
  .need img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 500px;
    margin: 2rem;
  }
}

.technology__header {
  background-color: #2d848f;
  max-width: 80%;
  margin: 5rem auto 1.5rem;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .technology__header {
    max-width: 480px;
  }
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 2rem auto 5em;
}

.technology p {
  margin: 5px;
}

.technology__inner {
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .technology {
    max-width: 480px;
  }
}

.nav {
  background-color: #1c5961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.nav__menu {
  z-index: 2;
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #ffffff;
  margin-left: 1rem;
}

.nav__inner {
  display: none;
}

@media (min-width: 768px) {
  .nav__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
  }
}

.nav__inner li {
  list-style-type: none;
  margin: 20px;
}

.nav__active {
  -webkit-text-decoration: 1px solid underline #ffffff;
          text-decoration: 1px solid underline #ffffff;
}

.show {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1c5961;
  text-align: center;
  -webkit-animation: slide 1s ease;
          animation: slide 1s ease;
}

@-webkit-keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.container {
  background: #1c5961;
  height: 100px;
  margin-bottom: 0.2rem;
}

.footer {
  background-color: #1c5961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "rig-shaded-medium-face";
}

.footer__social {
  color: #ffffff;
  text-transform: uppercase;
}

.footer__social * {
  font-size: 2rem;
}

@media (min-width: 600px) {
  .footer__social * {
    font-size: 2.3rem;
  }
}

.footer__links {
  display: -ms-grid;
  display: grid;
  margin-top: 1rem;
}

.footer__links a {
  margin: 10px;
}

@media (min-width: 600px) {
  .footer__links {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 2rem;
  }
}

.about__intro {
  display: -ms-grid;
  display: grid;
}

.about__intro h1 {
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__img {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.developers {
  display: -ms-grid;
  display: grid;
  /* @media (min-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  } */
}

.developers__card {
  height: 230px;
  width: 230px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 1px 3px 7px 0px #70707080;
          box-shadow: 1px 3px 7px 0px #70707080;
}

.developers__card a {
  color: #1c5961;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.developers button {
  background-color: #2d848f;
  padding: 1rem;
  width: 160px;
  margin: auto;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

button {
  -webkit-box-shadow: 0px 2px 4px #40cde0;
          box-shadow: 0px 2px 4px #40cde0;
  font-size: 1.2rem;
}

button:hover,
#form__submit:hover {
  cursor: pointer;
  background-color: #40cde0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
/*# sourceMappingURL=main.css.map */