$primary-color: #2D848F;
$secondary-color: #1C5961;

$tablet-width: 768px;

$fonts: (
    primary: "Serenity", sans-serif,
    headings-gravesend: "Gravesend Sans",sans-serif,
    headings-gibson: "Gibson", sans-serif,
    headings-rig:"Rig Shaded",sans-serif,
);

@function getFonts($font) {
    @return map-get($fonts, $font);
}