$primary-color: #2d848f;
$secondary-color: #1c5961;
$light-color: #ffffff;
$color-error: #ff4500;

$tablet-width: 768px;

$fonts: (
  "primary": "Serenity",
  "headings-gravesend": "Gravesend Sans",
  "headings-gibson": "Gibson",
  "headings-rig": "Rig Shaded",
);

@function getFonts($font) {
  @return map-get($fonts, $font);
}
