h1,
h2 {
  font-family: map-get($fonts, "headings-gravesend");
  font-weight: 500;
}

p {
  font-family: map-get($fonts, "primary");
}

a {
  text-decoration: none;
  color: $light-color;
  text-transform: uppercase;
  font-family: map-get($fonts, "headings");

  &:hover {
    text-decoration: 1px solid underline $light-color;
  }
}

.text__block {
  margin: 1rem;

  @media (min-width: $laptop-width) {
    font-size: 1.3rem;
  }
}
