.contact__intro {
  text-align: center;

  & p {
    text-align: left;
    margin: 0px 1rem;
  }
}

.footer {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__social {
    color: $light-color;
  }

  &__links {
    display: grid;
    margin-top: 1rem;
  }
}
