.services__header{
    background-color: $primary-color;
    max-width: 80%;
    margin: 3rem auto 1.5rem;
    text-transform: uppercase;
    color: $light-color;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 3px 6px #00000029;

    @media screen and (min-width:$mobile-width){
        max-width: 480px;
    }

    @media screen and (min-width:$laptop-width){
        max-width: 750px;
    }

}

.services-index{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: auto;

    @media screen and (min-width:$mobile-width){
        max-width: 500px;
    }

    @media screen and (min-width:$laptop-width){
        max-width: 1000px;
        flex-direction: row;
        margin-bottom: 4rem;
    }
    
}

.services__inner{
    border: 5px solid $primary-color;
    margin-bottom: 4rem;
    padding: 9rem 0.5rem 1rem 0.5rem;
    text-align: center;
    box-shadow: 6px 6px 20px $grey;

    h2{
        font-family:getFonts(headings-rig);
        font-weight:normal;
        text-transform: capitalize;
        font-size: 2rem;
    }

    @media screen and (min-width:$laptop-width){
        flex-direction: row;
        margin:20px;
        padding-top: 10rem;

        h2{
            text-transform: uppercase;
        }
    
    }
}

.need{
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    img{
        max-width: 80%;
        padding: 3rem 1.5rem;
        margin: 30px auto;
        border: 3px solid $light-color;
    }

    h2{
        color: $light-color;
        font-weight: bold;
    }

    p{
        color: $light-color; 
        max-width: 90%;
        margin: auto;
        font-weight:200
    }

    button{
        background-color: $light-color;
        color: $primary-color;
        border: 0px;
        border-radius: 10px;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        margin: 2rem 0 3rem;
    }

    &__inner{
        text-align: center;
        max-width: 90%;
        margin: auto;
    }

    @media screen and (min-width:$laptop-width){
        flex-direction: row;
        justify-content: center;
        
        &__inner{
            order: 1;
            max-width: 500px;
            margin: auto 2rem;
        }

        img{
            order: 2;
            max-width:400px;
            margin: 2rem;
        }

        h2{
            font-weight: normal;
            text-transform:unset;
            font-size: 2em;
        }
    }
}

.technology__header{
    background-color: $primary-color;
    max-width: 80%;
    margin: 5rem auto 1.5rem;
    color: $light-color;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 3px 6px #00000029;
    font-size: 2rem;

    @media screen and (min-width:$mobile-width){
        max-width: 480px;
    }
}

.technology{
    display: flex;
    width:80%;
    margin:2rem auto 5em;

    p{
      margin:5px  
    }

    &__inner{
        margin: auto;
        text-align: center;
    }

    @media screen and (min-width:$mobile-width){
        max-width: 480px;
    }
}
